---
onec_server_srv_usr: onec-srv-user
onec_server_srv_pwd: e79c9761d0bdaa223@93769e309

choco_ext_repo_source: http://choco.mydomain.ru/chocolatey
choco_ext_repo_name: choco.mydomain.ru

nh_server_addr:
  - "NH_SERVER_ADDR      =   1ckey01"
  - "NH_SERVER_ADDR      =   1ckey02"
  - "NH_SERVER_ADDR      =   1ckey03"
