[NH_COMMON]
NH_IPX              =   Disabled
NH_NETBIOS          =   Disabled
NH_TCPIP            =   Enabled
NH_SESSION          =   10
[NH_IPX]
[NH_NETBIOS]
[NH_TCPIP]
NH_USE_BROADCAST    =   Disabled
{{ nh_server_addr }}

